<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Dia</ion-label>
      <ion-input [(ngModel)]="day"></ion-input>
    </ion-item>
    <ion-item class="timeitem">
      <ion-label position="floating">A partir de:</ion-label>
        <ion-datetime [(ngModel)]="time" class="time" (ionChange)="ObtenAulaDisp()" display-format="hh:mm"></ion-datetime>
    </ion-item>
    <ion-item class="ampmitem">
        <ion-label position="floating"></ion-label>
      <ion-select [(ngModel)]="am_pm" class="ampm" (ionChange)="ObtenAulaDisp()">
        <ion-select-option value="AM">AM</ion-select-option>
        <ion-select-option value="PM">PM</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
      <ion-item class="timeitem">
        <ion-label position="floating">Finaliza :</ion-label>
          <ion-datetime [(ngModel)]="timeFin" class="time" display-format="hh:mm" (ionChange)="ObtenAulaDisp()"></ion-datetime>
      </ion-item>
      <ion-item class="ampmitem">
          <ion-label position="floating"></ion-label>
        <ion-select [(ngModel)]="am_pmFin" class="ampm" (ionChange)="ObtenAulaDisp()">
          <ion-select-option value="AM">AM</ion-select-option>
          <ion-select-option value="PM">PM</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-item class="Sala">
        <ion-label position="floating">Aula</ion-label>
        <ion-select placeholder="Selecciona una" [(ngModel)]="idAula">
          <ion-select-option *ngFor="let au of Aulas" value="{{au.idSala}}">{{au.Nombre}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="Descripcion"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="SaveEvent()">Agendar</ion-button>
</ion-content>
