<ion-header>
  <ion-toolbar>
    <ion-title>
      Aulas App 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-card (click)="gotoPage(aulas)">
    <ion-card-header>
    <ion-card-title>Gestion de Aulas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-icon name="business"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotoPage(calendario)">
    <ion-card-header>
      <ion-card-title>Calendario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ion-icon name="calendar"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
